.markdown-section pre {
    background: black;
    color: white;
    border: 2px solid lightgray;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3 {
  font-weight: 200;
}

.markdown-section ol ol {
    margin-top: .25em;
    margin-bottom: .25em;
}
